@import url("../../Global/CSS/variables.css");
.footer {
  position: fixed; /* Κρατάει το footer πάντα στο κάτω μέρος */
  bottom: 0;
  left: 0;
  width: 100%; /* Ολόκληρο το πλάτος της οθόνης */
  height: 40px; /* Ή, αν θες πιο λεπτό, μπορείς να το ρυθμίσεις, π.χ. 30px */
  background-color: var(
    --primary-color
  ); /* Σκούρο φόντο (μπορείς να το αλλάξεις) */
  color: #fff; /* Λευκό κείμενο */
  text-align: center; /* Κεντρική στοίχιση κειμένου */
  line-height: 40px; /* Κεντρική κατακόρυφη στοίχιση, ρυθμίζεται σύμφωνα με το ύψος */
  font-size: 0.9rem; /* Μικρό μέγεθος γραμματοσειράς */
  z-index: 1000; /* Για να εμφανίζεται πάνω από άλλα στοιχεία, αν χρειάζεται */
}
