@import url("../../Global/CSS/variables.css");

.tableView__container {
  display: flex;
  width: 60vw;
  height: 60vh;
  margin-top: 5%;
  margin-left: 5%;

  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--background-color);
  border-radius: 8px;
  /* overflow: hidden; */
  max-height: auto;
  flex-wrap: wrap;
  border: 1px solid var(--third-color);
  gap: 2px;
}

.tableView__container button {
  width: 15%;
  height: 10%;

  border-radius: 8px;
  border: 1px solid var(--third-color);
}
.tableView__container button:hover {
  cursor: pointer;
  border: 1px solid var(--third-color);
  background-color: var(--third-color);
}
#notables-prompt {
  font-size: 26px;
  text-align: center;
  color: var(--text-color);
  position: absolute;
  top: 42%;
  left: 30%;
}
