@import url("../../Global/CSS/variables.css");

.tableItem__container {
  width: 100%;
  height: auto;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  display: flex;
  flex-direction: column;
  gap: 2%;
  flex: 1;
  background-color: var(--secondary-color);
  transition: all 1.5 ease;
}
.tableItem__container:hover {
  background-color: var(--third-color);
  cursor: pointer;
  span {
    color: var(--text-color) !important;
  }
}

.tableItem__container span {
  color: var(--text-color);
  text-align: center;
  white-space: nowrap;
}
.waiting {
  border: 1px solid orange;
  /* span {
    color: black;
  } */
}

.animated {
  animation: orderedBlink 1s infinite;
}

@keyframes orderedBlink {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: green;
  }
  100% {
    border-color: transparent;
  }
}
