@import url("../../CSS/variables.css");

select {
  background-color: var(--secondary-color);
  color: var(--text-color);

  border-radius: 5px;
  padding: 5px;
  text-align: center;
}
select:hover {
  cursor: pointer;
}
