@import url("../../Global/CSS/variables.css");

.header__container {
  position: sticky;
  display: flex;
  width: 100%;
  height: 7vh;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--third-color);
}

.logo__container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* border: 1px solid red; */
  width: 100%;
  font-size: 42px;
  color: var(--text-color);
}
.logo__container span:hover {
  cursor: pointer;
}
.options__container {
  /* border: 1px solid green; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 20px;
  color: var(--text-color);
  gap: 5%;
}
#settings-menu:hover {
  cursor: pointer;
  /* color: var(--third-color); */
}

#products-menu:hover {
  cursor: pointer;
  /* color: var(--primary-color); */
}
